@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
/* Variables */
:root {
  /* Paleta */
  --purpura: #A269E6;
  --naranja: #BA4A00;
  --blanco: #C8C8D3;
  --azul: #356A96;
  --negro: #181B1D;
  --rosa: #E9C1F1;
  --cinderella: #fbcbcc;
  --lavender-gray: #bcbcdb;
  --sweet-pink: #fb9cac;
  --cinderella: #fcdfe0;
  --melanie: #e0c3d3;
  --melanie: #e3c6dc;
  --melon: #fcb4b4;
  --wisp-pink: #fce4ec;
  --linen: #fcf2f2; }

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* BOOSTRAP DESREEBOOT */
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-bottom: 0;
  font-weight: 0; }

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-size: 1.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

p {
  margin-bottom: 0;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--blanco); }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: var(--blanco);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a {
  color: var(--blanco);
  text-decoration: none; }

main,
footer {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(rgba(20, 7, 12, 0.75), rgba(20, 7, 12, 0.75)), url(../images/background_eyebrow.PNG) no-repeat center center fixed;
  background-size: cover;
  color: var(--blanco); }

footer {
  margin-top: 1px;
  padding: 15px; }
  footer section {
    padding: 10px; }
    footer section .instagram_footer {
      display: flex; }
      footer section .instagram_footer .instagram_logo {
        padding-left: 20px; }
        footer section .instagram_footer .instagram_logo a:hover {
          padding: 50px;
          transition: .5s; }
      footer section .instagram_footer section p a {
        padding-left: 20px;
        width: 30px; }
      footer section .instagram_footer div a img {
        width: 30px; }
  footer .query {
    text-align: center; }
    footer .query .input_query {
      border-radius: 5px;
      border: 1px solid white;
      height: 100px; }

header .navbar {
  padding: 20px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.52);
  flex-wrap: wrap; }
  header .navbar a {
    text-decoration: none;
    color: var(--negro); }
  header .navbar ul {
    list-style-type: none; }
  header .navbar .navbar-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    header .navbar .navbar-left a img {
      max-width: 80px;
      min-width: 80px;
      margin-right: 20px; }
    header .navbar .navbar-left ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
      header .navbar .navbar-left ul * {
        margin: 10px; }
      header .navbar .navbar-left ul div li a:hover {
        color: green;
        transition: all .3s ease-in-out, color .3s ease-in-out; }
      header .navbar .navbar-left ul div li {
        text-transform: uppercase;
        font-weight: 600; }
  header .navbar .navbar-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px; }
    header .navbar .navbar-right a {
      border: 1px solid black;
      border-radius: 40px;
      padding: 5px 20px; }
      header .navbar .navbar-right a:hover {
        background-color: var(--cinderella);
        transition: .3s; }

.bannerBox {
  padding-top: 4px;
  display: grid;
  place-items: center; }
  .bannerBox img {
    width: 100%; }

main .intro_desc {
  padding: 30px 50px 30px 50px; }
  main .intro_desc p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: var(--blanco); }
  main .intro_desc a {
    color: var(--blanco); }
  main .intro_desc a:hover {
    background-color: white;
    color: var(--negro);
    transition: .3s; }

main .publication_makeup {
  justify-content: center; }
  main .publication_makeup .publication_makeup_intro {
    text-align: center; }
  main .publication_makeup article {
    justify-self: center; }

main .publication_makeup_steps {
  display: flex;
  flex-wrap: wrap;
  padding: 5px; }
  main .publication_makeup_steps ul {
    list-style-type: none; }
  main .publication_makeup_steps .steps {
    padding: 10px; }

main .since {
  padding-top: 50px;
  text-align: center; }

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .photo1,
  .photo2 {
    width: 290px;
    justify-content: center; } }

/* Services */
main .container_services div section {
  padding: 10px;
  padding: 20px 50px 10px 50px;
  border: 2px outset #d9d7d7;
  text-align: center; }
  main .container_services div section .content_info article ul {
    list-style-type: none; }
  main .container_services div section .content_info article .see_more {
    padding: 8px;
    display: flex;
    justify-content: flex-end; }
    main .container_services div section .content_info article .see_more a {
      text-decoration: none;
      color: white;
      border: 1px solid white;
      border-radius: 18px;
      padding: 10px; }
