/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BOOSTRAP DESREEBOOT */

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-bottom: 0;
    font-weight: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


p {
    margin-bottom: 0;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: var(--blanco);
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--blanco);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}