main,
footer {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(rgba(20, 7, 12, 0.75), rgba(20, 7, 12, 0.75)), url(../images/background_eyebrow.PNG) no-repeat center center fixed;
    background-size: cover;
    color: var(--blanco);
}
