//FOOTER
footer{
    margin-top: 1px;
    padding: 15px;

    section {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        .instagram_footer {
            display: flex;

            .instagram_logo {
                padding-left: 20px;

                a:hover {
                    padding: 50px;
                    transition: .5s;
                }
            }
            section p a {
                padding-left: 20px;
                width: 30px;
            }

            div a img {
                width: 30px;
            }
        }
    }
}

/*Breakpoint footer*/

@media only screen and (min-width: 320px) and (max-width: 500px){
    footer section > *{
        font-size: x-small;
    }

}