//FOOTER
footer{
    margin-top: 1px;
    padding: 15px;

    section {
        @include flex(row,no-wrap,space-around,center,10px);

        .instagram_footer {
            display: flex;

            .instagram_logo {
                width: 80px;
                padding-left: 20px;
                overflow:hidden;              
                a{
                    img{
                        width: 40px;
                        &:hover{
                            -webkit-transform:scale(0.5);transform:scale(0.5);
                            transition: 0.3s;
                        }
                    }
                }
            }

        }
    }
}

/*Breakpoint footer*/

@media only screen and (min-width: 320px) and (max-width: 500px){
    footer{
        section > *{
            font-size: x-small;}

        .instagram_logo {
            padding-left: 20px;
            overflow:hidden;
            img{
                    width: 30px;
                }
        }
    }

    
}